body {
padding-top:60px;
padding-bottom:40px;
}

#layout input {
margin-right:40px;
margin-bottom:20px;
}

#toggle-all {
float:right;
margin-right:35px;
}

.layout-square {
border:1px solid #bcbcbc;
width:20px;
height:20px;
float:left;
margin-right:62px;
margin-bottom:10px;
box-shadow:inset 0 0 2px #000;
cursor:crosshair;
}

.layout-square:hover {
border-style:solid;
}

.trebleShade {
background:#04C;
}

.bassShade {
background:#51A351;
}

.altoShade {
background:#F89406;
}

.tenorShade {
background:#BB352E;
}

.qnote {
float:left;
width:140px;
height:100px;
margin:7px;
}

.unstyled li {
padding-top:5px;
}

.hovered {
	opacity: .5;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }	50% { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.5); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.5); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}
