@import '../../variables.scss';
main {
    padding: 40px 60px;
}
footer {
    padding: 15px 60px;
    text-align: center;
    font-size: $small-font-size;
}

@media print { 
    /* All your print styles go here */
    footer { display: none !important; } 
}