@import '../variables.scss';
.quest-container {
    position: relative;
    & > button {
        z-index: 2;
        position: absolute;
        top: 55px;
        right: 24px;
        cursor: pointer;
        background: $primary;
        color: $white;
        border: 0;
        border-radius: 55px;
      }
}